.button-wrap {
  display: flex;
  align-items: center;
}

.close-icon {
  background-image: url(/public/images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.button-wrap .eyes-icon {
  background-image: url(/public/images/eyes-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.button-wrap .eyes-icon.on {
  background-image: url(/public/images/eyes-icon-on.svg);
}

.id-icon {
  display: none;
}

.auto-login {
  display: flex;
  width: 505px;
}

.auto-login label {
  color: #6e6e6e;
  font-size: 15px;
  user-select: none;
  font-weight: bold;
  padding-left: 30px;
  position: relative;
}

input[type="checkbox"] {
  appearance: none;
}

.auto-login label::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  background-color: #ababab;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(/public/images/check-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.auto-login input[type="checkbox"]:checked + label {
  color: #fff;
}

.auto-login input[type="checkbox"]:checked + label::before {
  background-image: url(/public/images/check-on.svg);
  background-color: #ff1744;
}

button.doLoginBtn {
  margin-top: 10px;
  border: #fee500;
  background-color: #fee500;
  width: 505px;
  height: 60px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #000000;
  font-weight: 800;
}
.singup-box {
  color: #6e6e6e;
  text-align: center;
  margin-top: 25px;
}
.singup-box a {
  color: #a3a3a3;
  font-size: 16px;
  cursor: pointer;
  margin-left: 30px;
}
