.main-box {
  margin-top: 72px;
  position: relative;
  overflow: hidden;
  padding: 50px 36px;
  box-sizing: border-box;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #fff;
  margin-bottom: 40px; */
}
.main-box > img {
  z-index: -1;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform: scale(1.05);
  filter: blur(8px) brightness(0.3);
}
.main-box .thumbnail {
  width: 250px;
  /* height: 360px; */
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 18px 30px 0px;
  background-color: rgba(255, 255, 255, 0.13);
}
.main-box .thumbnail img {
  width: 100%;
  height: 100%;
}
.main-box .main-infor {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: flex-start;
}
.main-box .title {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.main-box .infor {
  display: flex;
  column-gap: 10px;
}
.main-box .infor span {
  font-size: 12px;
  padding: 1px 5px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
}
.main-box .main-infor .inform-text {
  text-align: left;
  margin-top: 15px;
  width: calc(50vw);
  display: block;
  font-size: 13px;
  color: #fff;
}
.main-box .button-box {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.main-box .button-box button {
  background-color: transparent;
  border: none;
}
.main-box .main-infor .button-box button.play-btn {
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 4px;
  line-height: 1.89;
  box-sizing: border-box;
  padding: 1rem 4rem;
  border: none;
  position: relative;
  color: rgb(0, 0, 0);
}
.main-box .button-box button.play-btn::after {
  display: block;
  content: "►";
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.main-box .button-box button.like-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.main-box .button-box button.like-btn.action g {
  fill: #fff;
}
.main-box .button-box button.like-btn span {
  color: #fff;
}
.videoPoster {
  width: 100%;
  height: 153px;
  object-fit: cover;
  border-radius: 5px;
}
.video-box > span {
  font-size: 1rem;
  color: #f7f7f782;
}
.video-box > span.inform {
  font-size: 0.8rem;
}
.video-list-box {
  display: flex;
  column-gap: 20px;
  padding: 40px 10px;
  box-sizing: border-box;
}
